/* Copyright (C) 2026 Alif Semiconductor - All Rights Reserved.
 * Use, distribution and modification of this code is permitted under the
 * terms stated in the Alif Semiconductor Software License Agreement
 *
 * You should have received a copy of the Alif Semiconductor Software
 * License Agreement with this file. If not, please write to:
 * contact@alifsemi.com, or visit: https://alifsemi.com/license
 *
 */

#include <dt-bindings/pinctrl/ensemble-e1c-pinctrl.h>
#include <dt-bindings/i2c/i2c.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/video/video-interfaces.h>

ns: &ns {
	status = "okay";
	reg = < 0x200A0000 DT_SIZE_K(512)>;
};

/* USB */
zephyr_udc0: &usb {
	status = "okay";
};

/* RAM Disk for USB MSC - sized for captured image + FAT overhead */
/ {
	ramdisk0 {
		compatible = "zephyr,ram-disk";
		disk-name = "RAM";
		sector-size = <512>;
		sector-count = <1024>;
	};
};

/*
 * Override gpio1 pinctrl to exclude P1_0 (JTAG_TMS), P1_1 (JTAG_TDI) and
 * P1_2 (JTAG_TDO) which are connected to the JTAG debug connector on the
 * E1C SK board. The default pinctrl_gpio1 covers the full port and would
 * remux those pads to GPIO, breaking the debug interface.
 */
&pinctrl {
	pinctrl_gpio1_video: pinctrl_gpio1_video {
		group0 {
			pinmux = <PIN_P1_3__GPIO>,
				 <PIN_P1_4__GPIO>,
				 <PIN_P1_5__GPIO>,
				 <PIN_P1_6__GPIO>,
				 <PIN_P1_7__GPIO>;
			read-enable = <0x1>;
		};
	};
};

/* Camera */
&gpio1 {
	pinctrl-0 = <&pinctrl_gpio1_video>;
	status = "okay";
};

&lpgpio {
	status = "okay";
};

&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	hcnt-offset = <10>;
	lcnt-offset = <10>;

	ov5640: ov5640@3c{
		compatible = "ovti,ov5640";
		reg = <0x3c>;
		status = "okay";
		reset-gpios = <&lpgpio 1 GPIO_ACTIVE_LOW>;
		powerdown-gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;

		port {
			ov5640_ep_out: endpoint {
				bus-type = <VIDEO_BUS_TYPE_PARALLEL>;
				remote-endpoint-label = "lpcam_ep_in";
			};
		};
	};
};

&lpcam {
	status = "okay";
	pinctrl-0 = <&pinctrl_lpcam>;
	pinctrl-names = "default";
	cpi-interface = "parallel";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			lpcam_ep_in: endpoint {
				remote-endpoint-label = "ov5640_ep_out";
			};
		};

		port@1 {
			reg = <1>;
			cam_mem_ep_out: endpoint {
				remote-endpoint-label = "application";
			};
		};
	};
};
